!.vscode/*.md
!.vscode/*.svd
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
**/*.rs.bk
.#*
.gdb_history
.vscode/*
Cargo.lock
bindings/*/lib
target/
**/.direnv/
.pre-commit-config.yaml
result*
